/*---------------------------

        reset

------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------

        general

------------------------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*---------------------------

        typography

------------------------------*/

header {
  font-size: 16;
  color: white;
}
footer {
  font-size: 14;
}

/*---------------------------

        button

------------------------------*/
.btn {
  cursor: pointer;
}

header .btn {
  border: none;
  background-color: transparent;
  color: white;
  margin: 0 7px;
}

/*---------------------------

    header

------------------------------*/
header {
  background-color: #ff6900;
  padding: 10px;
}
nav {
  display: flex;
}
header .left {
  min-width: 20%;
  display: flex;
  align-items: center;
}

header .center {
  flex-grow: 1;
  display: flex;
}
header img {
  height: 40px;
  margin: auto;
}
header .right {
  min-width: 20%;
  display: flex;
  align-items: center;
}

/*---------------------------

    main

------------------------------*/
main {
}
main img {
  max-width: 100%;
  object-fit: cover;
}
.row {
  display: flex;
  gap: 15px;
}
.col {
flex:1;
max-width: calc(33.33%-10px);
}

.heart {
  position: absolute;
  right: 0;
  padding: 10px;
  top: 5%;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}
.desc {
}
.top {
  position: relative;
  font-size: 14px;
}

.top span:first-of-type {
  color: white;
  background-color: red;
  padding: 5px;
}
.top span:nth-of-type(2) {
  color: white;
  background-color: green;
  padding: 5px;
}
.top div:last-of-type {
  bottom: 5%;
  display: flex;
  gap: 5px;
  position: absolute;
}
.desc:first-child {
  font-size: 14px;
}
.desc span:first-of-type {
  color: red;
  font-weight: bold;
}
.desc span:last-of-type {
  text-decoration: line-through;
  padding-left: 3px;
}

.first-img {
  opacity: 1;
  transition: opacity 1s ease;
}

.first-img:hover {
  opacity: 0;
}
.second-img {
  opacity: 0;
  position: absolute;
  left: 0;
  transition: opacity 1s ease;
}
.second-img:hover {
  opacity: 1;
}
