/*---------------------------

        reset

------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------

        general

------------------------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*---------------------------

        typography

------------------------------*/

header {
  font-size: 16;
  color: white;
  position: sticky;
  top: 0;
}
footer {
  font-size: 14;
}

/*---------------------------

        button

------------------------------*/
.btn {
  cursor: pointer;
}

header .btn {
  border: none;
  background-color: transparent;
  color: white;
  margin: 0 7px;
}

/*---------------------------

    header

------------------------------*/
header {
  background-color: #ff6900;
  padding: 10px;
}
nav {
  display: flex;
}
header .left {
  min-width: 20%;
  display: flex;
  align-items: center;
}

header .center {
  flex-grow: 1;
  display: flex;
}
header img {
  height: 40px;
  margin: auto;
}
header .right {
  min-width: 20%;
  display: flex;
  align-items: center;
}

/*---------------------------

    main

------------------------------*/
main {
}
main img {
  max-width: 100%;
  object-fit: cover;
}
.row {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}
.col {
  flex: 1;
  max-width: calc(33.33%-10px);
}

.heart {
  position: absolute;
  right: 0;
  padding: 10px;
  top: 5%;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

.top {
  position: relative;
  font-size: 14px;
}

.top span:first-of-type {
  color: white;
  background-color: red;
  padding: 3px 5px;
}
.top span:nth-of-type(2) {
  color: white;
  background-color: green;
  padding: 3px 5px;
}
.top div:last-of-type {
  bottom: 5%;
  display: flex;
  gap: 5px;
  position: absolute;
  align-items: center;
}
.desc:first-child {
  font-size: 14px;
}
.desc span:first-of-type {
  color: red;
  font-weight: bold;
  padding-right: 5px;
}
.desc span:last-of-type span:not(:first-of-type) {
  text-decoration: line-through;
}
.exeption {
  color: white;
  background-color: green;
  padding: 3px 5px;
}

.first-img {
  opacity: 1;
  transition: opacity 1s ease;
}

.first-img:hover {
  opacity: 0;
}
.second-img {
  opacity: 0;
  position: absolute;
  left: 0;
  transition: opacity 1s ease;
}
.second-img:hover {
  opacity: 1;
}

/*---------------------------

    footer

------------------------------*/
footer {
  background-color: #1a1a1a;
  padding: 12px 0;
  margin-top: 30px;
}
footer div {
  color: white;
  line-height: 1.7;
}

footer span {
  font-size: 14;
  margin-right: 10px;
}
footer .container {
  display: flex;
}
.phantom {
  flex-grow: 1;
}
.ls {
  min-width: 25%;
}
.rs {
  min-width: 25%;
  text-align: right;
}
footer i {
  margin-left: 5px;
}
